#nsu-admin { }
#nsu-main { width:65%; float:left; }
#nsu-sidebar{ width:30%; float:right; }

#nsu-sidebar > div{ margin-bottom:20px; }

#nsu-admin li.dvk-email{ padding-left:25px; background:url("../img/email-icon.png") no-repeat left center; }
#nsu-admin li.dvk-twitter{ padding-left:25px; background:url("../img/twitter-icon.png") no-repeat left center}
#nsu-admin li.mc4wp{ padding-left:25px; background:url("../img/mailchimp-for-wp-icon.png") no-repeat left center; }
#nsu-admin li.rfb{ padding-left:25px; background:url("../img/recent-facebook-posts-icon.png") no-repeat left center; }

#nsu-donate-box{ border:2px solid green; background:#CFC; padding:0 20px; }
#nsu-donate-box h3{ color:green; }
